<% if about = Snippet("about") %>
<section class="profile">
	<h3><%= t.profile %></h3>
	<div class="profile_detail">
		<%= about.body %>
	</div>
</section>
<% end %>


<section class="recentposts">
	<h3><%= t.recent_entries %></h3>
	<ul>
	<% Post.recent.each do |post| %>
	<li><%= link_to post.title, post.link %></li>
	<% end %>
	</ul>
</section>

<section class="comments">
	<h3><%= t.recent_comments %></h3>
	<ul>
	<% Comment.recent.each do |comment| %>
	<li><%= link_to truncate(strip_tags(comment.body), :length => 16), comment.link %></li>
	<% end %>
	</ul>
</section>

<section class="tags">
	<h3><%= t.tags %></h3>
	<ul>
	<% Tag.all.each do |tag| %>
	<li><%= link_to tag.name, tag.link %></li>
	<% end %>
	</ul>
</section>


<section class="archives">
	<h3><%= t.archives %></h3>
	<ul>
	<% months.each do |m| %>
	<li><%= link_to "#{m.year}年#{m.month}月", "/#{m.year}/#{m.month}/" %></li>
	<% end %>
	</ul>
</section>


<section class="admin_menu">
<%= partial "admin_menu" %>
</section>